<div id="wrapper">

  <div ng-include src="'views/sidebar.html'"></div>

  <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <h2>Charts</h2>
        </div>
          <div class="row">
              <div class="col-lg-12">
                  <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
                  <canvas id="line" class="chart chart-line" chart-data="data"
                    chart-labels="labels" chart-series="series" chart-options="options"
                    chart-dataset-override="datasetOverride" chart-click="onClick"
                  </canvas>
              </div>
          </div>
      </div>
  </div>
</div>
