<div id="wrapper">

  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
            Klipfolio Decode 2016
          </li>

          <li class="menu-content">
            <h4> <i class="fa fa-cogs fa-line-chart"></i> Data Analysis</h4>
            <p ng-repeat="item in allOptions" class="item" id="{{item.id}}">
              <input type="checkbox"
                ng-change="sync(bool, item)"
                ng-model="bool">  {{item.value}}
          </li>

          <li class="menu-content">
              <h4> <i class="fa fa-cogs"></i> Source Settings</h4>

                <!-- Note: Source settings form uses the controller from AbouCtrl -->

                <div ng-controller="SourceCtrl">
                  <form class="form-horizontal" ng-submit="submit()">
                    <div class="form-group">
                      <!-- <label for="inputStart" class="col-md-1 control-label source-item">Start:</label> -->
                      <div class="col-md-12">
                        <!-- <input type="date" class="form-control" id="inputStart" value="2016-10-20" ng-model="source.start" required=""> -->
                        <md-datepicker ng-model="source.start" md-placeholder="Enter Start date"></md-datepicker>

                      </div>
                    </div>
                    <div class="form-group">
                      <!-- <label for="inputEnd" class="col-md-1 control-label source-item">End:</label> -->
                      <div class="col-md-12">
                        <!-- <input type="date" class="form-control" id="inputEnd" value="2016-10-27" ng-model="source.end" required=""> -->
                        <md-datepicker ng-model="source.end" md-placeholder="Enter End date"></md-datepicker>

                      </div>
                    </div>

                    <div class="form-group">
                      <!-- <label for="dropdownSource" class="col-md-3 control-label source-item">Source</label> -->
                        <div class="dropdown col-md-offset-1 col-md-12">
                          <button class="btn btn-default dropdown-toggle col-md-10" type="button" id="source" data-toggle="dropdown"> {{ selectedSource.name }}
                          <span class="caret"></span></button>
                          <ul class="dropdown-menu" aria-labelledby="sourceSelect">
                            <li ng-repeat="source in sources">
                              <a href="" ng-click="setSource(source)"> {{ source.name }}</a>
                            </li>
                          </ul>
                        </div>
                    </div>

                    <div class="form-group">
                      <!-- <label for="dropdownSource" class="col-md-3 control-label source-item">Source</label> -->
                        <div class="dropdown col-md-offset-1 col-md-12">
                          <button class="btn btn-default dropdown-toggle col-md-10" type="button" id="measure" data-toggle="dropdown"> {{ selectedMeasure.name }}
                          <span class="caret"></span></button>
                          <ul class="dropdown-menu" aria-labelledby="measureSelect">
                            <li ng-repeat="measure in measurements">
                              <a href="" ng-click="setMeasurement(measure)"> {{ measure.name }}</a>
                            </li>
                          </ul>
                        </div>
                    </div>
                    <div class="menu-content">
                      <div class="form-group">
                        <label class="control-label source-item">Filters:</label>
                      </div>
                      <div class="form-group">
                        <label for="textfilterRequired" class="col-md-5 control-label source-item">Repo</label>
                        <div class="col-md-7">
                          <input type="text" class="form-control" id="textfilterRequired" ng-model="source.filterRequired" required="">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="textfilterOptional" class="col-md-5 control-label source-item">Owner</label>
                        <div class="col-md-7">
                          <input type="text" class="form-control" id="textfilterOptional" ng-model="source.filterOptional">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-group">
                        <label for="textIntervalUnit" class="col-md-6 control-label source-item">Interval:</label>
                        <div class="col-md-4">
                          <input type="text" class="form-control" id="textIntervalUnit" ng-model="source.intervalUnit" required="">
                        </div>
                      </div>

                      <label for="textIntervalType" class="col-md-6 control-label source-item">Group By:</label>

                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="textIntervalType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{ selectedInterval.name }}
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="item in intervals">
                              <a href="" ng-click="setInterval(item)"> {{ item.name }}</a>
                            </li>
                          </ul>
                        </div>

                    </div>

                    <div class="form-group">
                      <div class="col-md-offset-1 col-md-10">
                        <button type="submit" class="btn btn-primary btn-lg btn-block" ng-submit="submit()">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
          </li>

      </ul>
  </div>

  <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <h2>Github commits</h2>
        </div>
          <div class="row">
              <div class="col-lg-12">
                  <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
                  <canvas id="line" class="chart chart-line" chart-data="data"
                    chart-labels="labels" chart-series="series" chart-options="options"
                    chart-dataset-override="datasetOverride" chart-click="onClick"
                  </canvas>
              </div>
          </div>
      </div>
  </div>
</div>
