<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
          Klipfolio Decode 2016
        </li>

        <!-- Data Analysis -->
        <li class="menu-content">
          <h4> <i class="fa fa-cogs fa-line-chart"></i> Data Analysis</h4>
          <p ng-repeat="item in allOptions" class="item" id="{{item.id}}">
            <input type="checkbox"
              ng-change="sync(bool, item)"
              ng-model="bool">  {{item.value}}
        </li>

        <!-- Source settings -->
        <div ng-include src="'views/source_settings.html'"></div>
    </ul>
</div>
